fastapi
uvicorn
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
tiktoken
requests
beautifulsoup4
streamlit
pypdf
sentence-transformers
python-dotenv
playwright
transformers
